body {
  font-size: 1.2em;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.activeTab {
  font-weight: bold;
}
.btn-detail{color:#fff;background-color:deepskyblue;border-color:deepskyblue}

.btn-narrowItDownForMe{color:#fff;background-color:deeppink;border-color:deeppink}